@page "/details/{id}"
@model CraftsStore.Web.Pages.DetailsModel
@{

}


<div class="card">

    <div class="card-body">
        <h3 class="card-title">

            @Model.Product.Result.Id
        </h3>
        <div>Maker: @Model.Product.Result.Maker</div>
        <div class="mt-3">
            <img src="@Model.Product.Result.Image" class="card-img-top" alt="...">

            <div>@Model.Product.Result.Description</div>
            <div>@Model.Product.Result.Url</div>
        </div>
    </div>
</div>