@page "/maker/{id}"
@model CraftsStore.Web.Pages.MakerProductsModel


<h3>@Model.Id</h3>
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Img</th>
            <th scope="col">Rating</th>
            <th scope="col">Url</th>
            <th scope="col">Description</th>
        </tr>
    </thead>
    <tbody>

    @foreach (var makerproduct in @Model.MakerProducts)
    {

        <tr>
            <th scope="row">@makerproduct.Id</th>
            <td>@makerproduct.Title</td>
            <td><img src="@makerproduct.Image" class="card-img-top" /></td>
            <td>@makerproduct.Rating</td>
            <td><a href="@makerproduct.Url" target="_blank">Link</a></td>
            <td>@makerproduct.Description</td>
        </tr>
    }

    </tbody>
</table>

